<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Practice Perfect</title>
        <link rel="stylesheet" href="main.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,100,200' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <section class="header">
            <h3>Current Practice Review</h3>
            <p>Dissatisfied with the productivity of your staff. Feel they are held back by outdated systems and processes. Feel that our staff are overloaded and you are unable to accept new clients. What new systems can you introduce to increase efficiencies?</p>
            <ul>
                <li>One day staff interviews and review of systems</li>
                <li>Preparation of written report including recommendations for process improvement</li>
            </ul>
            <p>$2,250 including GST</p>
        </section>
        <script src="index.js"></script>
    </body>
</html>
